<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的登录页面</title>
</head>
<body>
    <h1>我的登录中心</h1>
    <form action="/userLogin" method="post">
        <table>
            <thead>登录思密达</thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="username" value="admin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" value="admin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="登录">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=EEIpL5rH0nHSb6XyKhr09gib&redirect_uri=oob">百度账号登录</a>
                        <a href="https://openapi.baidu.com/rest/2.0/passport/users/getLoggedInUser?access_token=21.b2696fd2a747a40f713344b80bfee632.2592000.1559210210.1143166762-16078580"></a>
                        <a href="https://openapi.baidu.com/oauth/2.0/token?grant_type=authorization_code&code=0555a940a53470514b109b38f1dabfff&client_id=EEIpL5rH0nHSb6XyKhr09gib&client_secret=IdEFMfq1sX5EEa0FDANuIbHk3ffYQXjq&redirect_uri=oob"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>