<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的登录页面</title>
</head>
<body>
    <h1>我的登录中心</h1>
    <form action="/userLogin" method="post">
        <table>
            <thead>登录思密达</thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="username" value="admin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" value="admin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="登录">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=EEIpL5rH0nHSb6XyKhr09gib&redirect_uri=oob">百度账号登录</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>